* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: arialluni;
  src: url(./Fonts/ARIALUNI.TTF);
}
@font-face {
  font-family: cronos;
  src: url(./Fonts/Cronos\ Pro\ Italic.otf);
}
@font-face {
  font-family: cronobold;
  src: url(./Fonts/CronosPro-Bold.otf);
}
@font-face {
  font-family: cronaregular;
  src: url(./Fonts/CronosPro-Regular_0.otf);
}
.arialluni{
    font-family: arialluni;
}
.cronos{
    font-family: cronos;
}
.cronobold{
    font-family: cronobold;  
}
.cronaregular{
    font-family: cronaregular;
}
#kgkimg{
  width: 20%;
  image-rendering: -webkit-optimize-contrast;
}